language: go
go:
  - 1.4.x
  - 1.5.x
  - 1.6.x
  - 1.7.x
  - 1.8.x
  - 1.9.x
  - tip
before_install:
  - mkdir -p $HOME/gopath/src/eriol.xyz
  - mv $TRAVIS_BUILD_DIR $HOME/gopath/src/eriol.xyz/piken
  - export TRAVIS_BUILD_DIR=$HOME/gopath/src/eriol.xyz/piken
  - cd $TRAVIS_BUILD_DIR
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - go get github.com/modocache/gover
script:
    - go test -coverprofile=config.coverprofile ./format
    - go test -coverprofile=db.coverprofile ./sql
    - $HOME/gopath/bin/gover
    - $HOME/gopath/bin/goveralls -v -coverprofile=gover.coverprofile -service=travis-ci
